<div id="mapa">

</div>
<!-- <app-comp-args imgRoute="https://picsum.photos/420/320?image=0" hola="Ey"></app-comp-args>
<app-comp-args imgRoute="https://picsum.photos/420/320?image=1" hola="Aloha"></app-comp-args>
<app-comp-args imgRoute="https://picsum.photos/420/320?image=2" hola="Quibolas"></app-comp-args>
<app-comp-args imgRoute="https://picsum.photos/420/320?image=3" hola="Qué hongo"></app-comp-args> -->
<app-comp-args
    *ngFor=""
    imgRoute="{{sub.title}}" 
    hola="Quibolas">
</app-comp-args>
